<html>
<head>
    <title>Simple Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/tagsinput.css"/>
    <link rel="shortcut icon" href="media/favicon.ico" type="image/x-icon">
    <link rel="icon" href="media/favicon.ico" type="image/x-icon">
    <script src="https://js.braintreegateway.com/web/3.44.2/js/client.min.js"></script>
    <script src="/static/js/hosted-fields.min.js"></script>
    <script src="//code-ya.jivosite.com/widget/dCcEKC8PkA" async></script>
    {% load thumbnail %}

</head>

<body>
<header>
    <div class="header">
        <div class="top-block">
            <div class="after-top-menu">
                <div class="top-menu">
                    <div class="top-element col-7">
                        <nav class="navigation col-12">
                            <ul>
                                <li><a class="navigation_link" href="{% url 'catalog:category_list' %}">Каталог</a></li>
                                <li><a class="navigation_link" href="/news/">Новости</a></li>
                                <li><a class="navigation_link" href="{% url 'ab:auto' %}">Автобарахолка</a></li>
                                <li><a class="navigation_link" href="{% url 'catalog:category_list' %}">Дома и
                                    квартиры</a>
                                </li>
                                <li><a class="navigation_link" href="{% url 'catalog:category_list' %}">Услуги</a></li>
                                <li><a class="navigation_link" href="{% url 'catalog:category_list' %}">Барахолка</a>
                                </li>
                                <li><a class="navigation_link" href="{% url 'catalog:category_list' %}">Форум</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="top-element col-4">
                        <div class="box">
                            <div class="currency">
                                {% for cur in currens %}
                                    {% if cur.Cur_Abbreviation == "USD" %}
                                        <p> ${{ cur.Cur_OfficialRate }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div>
                                        <p>
                                            <br>
                                            <span class="title">{{ weather.city }}</span>
                                            <span class="subtitle">{{ weather.temperature }}° C</span>
                                            {#                                            <br> {{ weather.description }}#}
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top-action">
                <div class="top-action-elem col-8">
                    <div class="top-action-logo">
                        <a href="/"><img src="/media/logo.png" height="45px" width="180px"></a>
                    </div>
                </div>
                <div class="top-action-elem col-4">
                    <div class="personal">
                        {% if user.is_authenticated %}
                            <p>Привет {{ user.username }}!</p>
                        <a href="{% url 'cart:cart_detail' %}">Корзина</a>
                            <p><a href="{% url 'logout' %}?next={{ request.path }}">Выйти</a></p>
                        {% else %}
                            <a href="{% url 'login' %}?next={{ request.path }}">Войти</a>
                        {% endif %}
                        <div class="cart">
                            {% with total_items=cart|length %}
                                {% if cart|length > 0 %}
                                    Ваша корзина:
                                    <a href="{% url 'cart:cart_detail' %}">
                                        {{ total_items }} item{{ total_items|pluralize }},
                                        {{ cart.get_total_price }} BYN
                                    </a>
                                {% else %}
                                    Ваша корзина пуста :-(
                                {% endif %}
                            {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</header>


<main>
    <div class="content">
        {% block content %}{% endblock content %}
    </div>
</main>
<footer>
    <div class="footer">
        <div class="g-bottom-i">
            <div class="footer-style">
                <div class="footer-style__flex">
                    <div class="footer-style__part footer-style__part_1">
                        <ul class="footer-style__list">
                            <li class="footer-style__item">
                                <a href="https://blog.onliner.by/about"
                                   class="footer-style__link footer-style__link_primary">
                                    О компании
                                </a>
                            </li>
                            <li class="footer-style__item">
                                <a href="https://people.onliner.by/contacts"
                                   class="footer-style__link footer-style__link_primary">
                                    Контакты редакции
                                </a>
                            </li>
                            <li class="footer-style__item">
                                <a href="https://b2breg.onliner.by/advertising"
                                   class="footer-style__link footer-style__link_additional">
                                    Реклама
                                </a>
                            </li>
                            <li class="footer-style__item">
                                <a href="https://docs.google.com/spreadsheets/d/1SGFaTkV_Ru4vI29ml9yvR-dMz9rOl7DVVpKk64w5lqM/edit#gid=372016392"
                                   class="footer-style__link footer-style__link_additional">
                                    Размещение в каталоге
                                </a>
                            </li>
                            <li class="footer-style__item">
                                <a href="https://blog.onliner.by/vacancy"
                                   class="footer-style__link footer-style__link_primary">
                                    Вакансии
                                </a>
                            </li>
                            <li class="footer-style__item">
                                <a href="https://blog.onliner.by/manifest"
                                   class="footer-style__link footer-style__link_primary">
                                    Манифест
                                </a>
                            </li>
                            <li class="footer-style__item">
                                <a href="https://blog.onliner.by/siterules"
                                   class="footer-style__link footer-style__link_primary">
                                    Пользовательское соглашение
                                </a>
                            </li>
                            <li class="footer-style__item">
                                <a href="https://blog.onliner.by/publichnye-dogovory"
                                   class="footer-style__link footer-style__link_primary">
                                    Публичные договоры
                                </a>
                            </li>
                            <li class="footer-style__item">
                                <a href="https://blog.onliner.by/politika-konfidencialnosti"
                                   class="footer-style__link footer-style__link_primary">
                                    Политика конфиденциальности
                                </a>
                            </li>
                            <li class="footer-style__item">
                                <a href="https://support.onliner.by/"
                                   class="footer-style__link footer-style__link_primary">
                                    Поддержка пользователей
                                </a>
                            </li>
                            <li class="footer-style__item">
                                <a href="https://blog.onliner.by/pravila-vozvrata-tovarov-i-deneg"
                                   class="footer-style__link footer-style__link_primary">
                                    Правила возврата
                                </a>
                            </li>
                        </ul>
                        <div class="footer-style__social">
                            <a href="https://vk.com/onliner" rel="noopener" target="_blank"
                               class="footer-style__social-button footer-style__social-button_vk"></a>
                            <a href="https://facebook.com/onlinerby" rel="noopener" target="_blank"
                               class="footer-style__social-button footer-style__social-button_fb"></a>
                            <a href="https://twitter.com/OnlinerBY" rel="noopener" target="_blank"
                               class="footer-style__social-button footer-style__social-button_tw"></a>
                            <a href="https://youtube.com/onlinerby" rel="noopener" target="_blank"
                               class="footer-style__social-button footer-style__social-button_yt"></a>
                        </div>
                    </div>
                    <div class="footer-style__part footer-style__part_2">
                        <div class="footer-style__logo"></div>
                        <div class="footer-style__copy">
                            © 2001—2021 Onlíner
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/static/js/tagsinput.js"></script>
<script>
    $("#post-form").submit(function (e) {
        e.preventDefault();
    });</script>
</body>
</html>
