{% extends "base.html" %}

{% block title %}
    Checkout
{% endblock %}

{% block content %}
    <h2>Покупка</h2>

    <div class="order-info">
        <h3>Ваш заказ</h3>
        <div>
            {% for item in cart %}
                {{ item.quantity }}x {{ item.product.name }}
                <span> - {{ item.total_price }} BYN </span>

            {% endfor %}

        </div>
        <div>
            {% if cart.coupon %}

                Купон № {{ cart.coupon.code }} (скидка {{ cart.coupon.discount }}%)
                <span>-{{ cart.get_discount|floatformat:"2" }} BYN </span>

            {% endif %}
        </div>

        <p><h5>Цена с купоном: {{ cart.get_total_price_after_discount|floatformat:"2" }} BYN </h5></p>
    </div>

    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="Place order"></p>
        {% csrf_token %}
    </form>
{% endblock %}
