{% extends 'base.html' %}

{% block content %}
                {% if user.is_authenticated %}
                <p>{{ user.username }}, вы уже зарегистрированы</p>
                {% else %}
                <h2>Регистрация</h2>
                    <form method="post">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit">Зарегистрироваться</button>
                    </form>
                {% endif %}
{% endblock content %}