{% extends 'base.html' %}


{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <ul>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.slug }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}
            Products{% endif %}</h1>
        {% for product in products %}
            <div class="item">
                <div class="item_pic">
                    <a href="{{ product.slug }}">
                        <img src="{{ product.icon.icprod.url }}">
                    </a>
                </div>
                <div class="item_desc">
                    <a href="{{ product.slug }}">{{ product.name }}</a><br>
                    <p class="description">{{ product.description }}</p>
                    <p class="rating">{{ product.rating }}</p>
                </div>
                <div class="item_price">
                    {{ product.price }} BYN
                    <p style="color:gray">${{ product.price_usd}}</p>

                </div>


            </div>
        {% endfor %}
    </div>
{% endblock %}