{% extends "base.html" %}
{% load static %}
 
{% block title %}
    Your shopping cart
{% endblock %}
 
{% block content %}
    <h1>Ваша корзина покупок</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Фото</th>
            <th>Продукт</th>
            <th>Количество</th>
            <th>Удалить</th>
            <th>Цена за единицу</th>
            <th>Цена</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{ product.slug }}">
                            <img src="
                                    {% if product.picture %}{{ product.icon.cat_icon.url }}{% else %}{% endif %}">
                        </a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>
                        <form action="{% url 'cart:cart_add' product.id %}"
                              method="post">
                            {{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
                            <input type="submit" value="Update">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td>
                        <a href="{% url 'cart:cart_remove' product.id %}">Удалить</a>
                    </td>
                    <td class="num">${{ item.price }}</td>
                    <td class="num">${{ item.total_price }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
        {% if cart.coupon %}
        <tr class="subtotal">
            <td>Цена</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        <tr>
            <td>
                Купон № {{ cart.coupon.code }}
                (скидка {{ cart.coupon.discount }}%)
            </td>
            <td colspan="4"></td>
            <td class="num neg">
                - ${{ cart.get_discount|floatformat:"2" }}
            </td>
        </tr>
    {% endif %}
    <tr class="total">
        <td>Цена с учетом купона</td>
        <td colspan="4"></td>
        <td class="num">
            ${{ cart.get_total_price_after_discount|floatformat:"2" }}
        </td>
    </tr>
        </tbody>
    </table>
    <form action="{% url 'coupons:apply' %}" method="post">
        {{ coupon_apply_form }}
        <input type="submit" value="Apply">
        {% csrf_token %}
    </form>
    <p class="text-right">
        <a href="/" class="button light">Продолжить покупки</a>
        <a href="{% url 'orders:order_create' %}" class="button">Купить</a>
    </p>
{% endblock %}
