{% extends 'base.html' %}


{% block content %}

<a class="btn btn-primary btn-block" href="{% url 'ab:auto_details' pk=pk_auto.pk %}">Назад</a>

    {% for rew in all_rew_one_car %}
    <h3> {{rew.author}}</h3>
    <h3> Оценка: {{rew.rate}}</h3>
    <a href="{% url 'ab:a_rev_details' pk=rew.pk %}"><h3> Подробнее</h3></a>
    {% empty %}
        <div style="text-align: center">
            <p>Нет отзывов</p>
            <a href="/"><img src="/media/photos/upset.jpg" height="200px" width="200px"></a>
        </div>
    {% endfor %}


{% endblock content %}