{% extends 'base.html' %}


{% block content %}

    {% for rew in all_a_rew %}
<img style="height: 400px; width: 600px" src="{{rew.reviewed.pictures.url}}" alt=""/>
    <h1> {{rew.reviewed}}</h1>
    <h3> {{rew.author}}</h3>
    <h3> Оценка: {{rew.rate}}</h3>
    <h3> {{rew.text}}</h3>
    <h3> {{rew.created_date}}</h3>
    {% endfor %}
    {% for rew in all_m_rew %}
<img style="height: 400px; width: 600px" src="{{rew.reviewed.pictures.url}}" alt=""/>
    <h1> {{rew.reviewed}}</h1>
    <h3> {{rew.author}}</h3>
    <h3> Оценка: {{rew.rate}}</h3>
    <h3> {{rew.text}}</h3>
    <h3> {{rew.created_date}}</h3>
    {% endfor %}
{% endblock content %}