{% extends 'base.html' %}


{% block content %}
    <div>
        <a class="btn btn-default" href="{% url 'ab:auto' %}" style="border: 1px solid black; box-sizing: border-box;">Автомобили</a>
        <a class="btn btn-default" href="{% url 'ab:moto' %}" style="border: 1px solid black; box-sizing: border-box;">Мотоциклы</a>
        <a class="btn btn-default" href="{% url 'ab:reviews' %}"
           style="border: 1px solid black; box-sizing: border-box;">Отзывы
            об авто</a>
        <a class="btn btn-default" href="#" style="border: 1px solid black; box-sizing: border-box;">Мои авто</a>
        <a class="btn btn-default" href="{% url 'ab:a_bookmarks' %}"
           style="border: 1px solid black; box-sizing: border-box;">Закладки</a>
        <a class="btn btn-default" href="{% url 'ab:new_ad' %}"
           style="border: 1px solid black; box-sizing: border-box;">Разместить
            объявление</a>
    </div>
    <div style="display: flex; margin-top:40px">
        <div>
            <form method="get">
                {{ a_filter.form.as_p }}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
        <div>
            <div class="filter_full">
                {% for obj in a_filter.qs %}
                    <div class="col-md-12 autos_in_filter">
                        <div class="auto_img">
                            <img style="height: 300px; width: 600px" src="{{ obj.pictures.url }}" alt=""/>
                        </div>
                        <div class="auto_info">
                        <p>Brand: {{ obj.brand }} <br>
                        Model: {{ obj.model }}<br>
                        Transmission: {{ obj.transmission }}<br>
                        Drive unit: {{ obj.drive_unit }}<br>
                        Type of fuel: {{ obj.type_of_fuel }}<br>
                        Type of body: {{ obj.type_of_body }}<br>
                        Year: {{ obj.year }}<br>
                        Location: {{ obj.location }}</p>
                        <a class="btn btn-warning" href="{% url 'ab:auto_details' pk=obj.pk %}">Show more</a>
                        <a class="btn btn-light" href="{% url 'ab:auto_create_review' pk=obj.pk %}">Оставить отзыв:
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                 class="bi bi-award"
                                 viewBox="0 0 16 16">
                                <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                            </svg>
                        </a>
                        </div>
                    </div>
                {% empty %}
                    <div style="text-align: center">
                        <p>По вашему запросу нет результатов</p>
                        <a href="/"><img src="/media/photos/upset.jpg" height="200px" width="200px"></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

