{% extends "base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
    {% if sent %}
        <h1>E-mail успешно отправлен</h1>
        <p>
        "{{ car.brand}} - {{ car.model}}" был успешно отправлен к {{ form.cleaned_data.to }}.
        </p>
    {% else %}
    <h1>Отправь"{{ car.brand}} - {{ car.model}}" по e-mail</h1>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Отправить">
    </form>
    {% endif %}
{% endblock %}