{% extends 'base.html' %}


{% block content %}
    <form  method="POST" class="form-group">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="btn btn-primary">Разместить</button>
    </form>
{% endblock content %}