{% extends 'base.html' %}


{% block content %}
<div>
    <a class="btn btn-default" href="#" style="border: 1px solid black; box-sizing: border-box;">Каталог</a>
    <a class="btn btn-default" href="#" style="border: 1px solid black; box-sizing: border-box;">Барахолка</a>
    <a class="btn btn-default" href="{% url 'ab:a_bookmarks' %}" style="border: 1px solid black; box-sizing: border-box;">Автобарахолка</a>
    <a class="btn btn-default" href="{% url 'ab:m_bookmarks' %}" style="border: 1px solid black; box-sizing: border-box;">Мотобарахолка</a>

</div>
        <h1>Закладки</h1>
        {% for motor in motors %}
        <img style="height: 400px; width: 600px" src="{{ motor.pictures.url }}" alt=""/>
        <h1>Model: {{motor.model}}</h1>
        <h1>Drive unit: {{motor.drive_unit}}</h1>
        <h1>Engine capacity: {{motor.engine_capacity}}</h1>
        <h1>Year: {{motor.year}}</h1>
        <h1>Location: {{motor.location}}</h1>
        <p><a class="btn btn-warning" href="{% url 'ab:moto_details' pk=motor.pk %}">Show more</a></p>
        {% empty %}
        <div style="text-align: center">
            <p>У вас пока что нет закладок</p>
            <a href="/"><img src="/media/photos/upset.jpg" height="200px" width="200px"></a>
        </div>
        {% endfor %}
{% endblock content %}