{% extends 'base.html' %}


{% block content %}
<a class="btn btn-danger" href="{% url 'ab:m_rev_delete' pk=rew.pk %}">Delete</a>
    <h3>{{rew.author}}</h3>
    <h3>Оценка: {{rew.rate}}</h3>
    <h3>{{rew.text}}</h3>
    <h3>{{rew.created_date}}</h3>
{% endblock content %}