/*
 * bootstrap-tagsinput v0.8.0
 *
 */

.bootstrap-tagsinput {
    border: solid 1px #e9ecee;
    border-radius: 0;
    color: #8e9091;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 48px;
    padding: 8px 20px;
    font-size: 16px;
}

.bootstrap-tagsinput input {
    border: none;
    border-radius: 0;
    color: #8e9091;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

.badge-tag {
    background-color: #17a2b8;
    color: white;
}

.bootstrap-tagsinput.form-control input::-moz-placeholder {
    color: #777;
    opacity: 1;
}

.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
    color: #777;
}

.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}

.bootstrap-tagsinput .badge {
    margin-left: 4px;
    padding: 8px;
}

.bootstrap-tagsinput .badge [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.bootstrap-tagsinput .badge [data-role="remove"]:after {
    content: "×";
    padding: 0px 4px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    font-size: 13px
}

.bootstrap-tagsinput .badge [data-role="remove"]:hover:after {

    background-color: rgba(0, 0, 0, 0.62);
}

.bootstrap-tagsinput .badge [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.news_items {
    display: block;
    color: white;
    cursor: pointer;
    white-space: normal;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
}

.news_items:hover {
    text-decoration: none;
    color: #fff;

}

.cards {

}

.my-1 {
    position: absolute;
    padding: 39px 20px 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.news_block {
    width: 225px;
    height: 165px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.news_block:hover {
    background: rgba(0, 0, 0, 0.5);
}
ul li {
    list-style-type: none;
    float:left;
    height: 44px;
}
ul li a {
    color: black;
}
ul li a:hover {
    color: black;
}
.top-menu{
    height: 44px;
}
.top-menu, .top-action{
    min-width: 1000px;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.top-block{
    background-color: #f4f4f4;
}
.navigation{
    height: 44px;
    background-color: #fd2;
    float: left;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.navigation_link{
    height: 44px;
    padding: 0 14px;
    display: block;
    font-size: 14px;
    font-family: 'Open Sans',Arial,Helvetica,Verdana,sans-serif;
    line-height: 44px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}
.top-action{
    display: flex;
}
.top-action-logo{
    width: 180px;
    height: 45px;
    padding: 25px 20px 25px 49px;
}
.content{
    min-width: 980px;
    max-width: 1380px;
    margin: 0 auto;
    background: #fff;
    border-top: solid 1px #d8d8d8;
    padding: 10px 10px 20px;
    position: relative;
    z-index: 12;
    zoom: 1;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
    color: #333;
}
.top-action{
    height: 110px;
}
main{
    background-color: #f4f4f4;
}
.footer{
    height: auto !important;
    margin-top: 0 !important;
    position: relative;
}
.g-bottom-i {
    min-width:1000px;
    max-width:1400px;
    margin:0 auto;
    position:relative;
    z-index:11;

}
.footer-style{
    padding: 22px 20px 40px;
    padding-bottom: 40px;
    background-color: #3e4753;
}
.footer-style__item{
    margin-right: 12px;
    margin-bottom: 9px;
}
.footer-style__flex{
    font-size: 13px;
}